<% title @app %>

<div id="current_price"><%= @app.price %></div>

<h3>Changes</h3>
<div id="changes">
  <ul>
  <% @app.changes.each do |change| %>
  <li><%= change %></li>
  <% end %>
  </ul>
</div>

<% if @lens %>
  you are watching this app
<% else %>
  <%= link_to "watch this app", new_lens_path(app_id: @app.id) %>
<% end %>