<ul>
<li>360 Games</li>
<li>Kinect</li>
<li>Indie</li>
<li>On Demand</li>
</ul>

<!-- eC (Early Childhood) (3)
E (Everyone) (228)
E10 (Everyone 10+) (133)
RP (Rating Pending) (2)
T (Teen) (315)
M (Mature) (229)
RP (Rating Pending) (39) -->

<%= render 'apps/index' %>
