@import 'bourbon';
@import 'reset';
@import 'apps';
@import 'ios';
@import 'mac';
@import 'xbox';
@import 'android';

#user_nav {
  float: right;
}
body,html {
  width: 100%;
  height: 100%;
}
body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande';
}
header {
  background: url('http://subtlepatterns.com/patterns/blizzard.png');
  a { font-style: Helvetica; letter-spacing: 90%;  color: #222; }
}
table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
}
ul.apps {
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
li.app {
  float: left;
  background: white;
  margin: 5px;
  width: 150px;
  list-style: none;
  padding: 0;
    div.inner {
    padding: 5px;
  }
}

table,tr,td {
  padding: 0;
  margin: 0;
  // border-collapse: collapse;
  border: none;
}
  table {
    border-top: 1px solid rgba(0,0,0,0.4);
    border-left: 1px solid rgba(0,0,0,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
tbody,tr {
  width: 100%;
  display: block;
}
ul#subdomains {
  width: 100%
}
ul#subdomains, ul#subdomains li {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
ul#subdomains li {
  font-family: 'Helvetica Neue';
  width: 25%;
  height: 100px;
  float: left;
  text-align: center;
  .logo { font-size: 30px; margin: 10px 0; opacity: 0.7;}
  font-weight: bold;
  a {
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: bottom;
    line-height: 170px;
    background-position: center 15px;
    background-repeat: no-repeat;
    opacity: 1;
  }
}
#container {
  background: none;
  padding: 20px;
  table { width: inherit; display: block; margin: 0px auto 20px; overflow: hidden;}
}
.details {
  font-size: .8em;
}
td {
  padding: 4px;
}
li.app {
  @include border-radius(8px);
  background: rgba(0,0,0,0.2);
  &:hover {
    .icon { opacity: 1; }
    a { color: #FFF;}
    .merchant_icon { color: #444;}
  }
  h3 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}
// li.app:nth-child(even) {
//   background: rgba(255,255,255,0.1);
// }





a {
  color: #F1F1F1;
}

tr.watched {
  @include linear-gradient(#444, #333);
  td {
  border-top: 1px solid #555;
  border-bottom: 1px solid #222;
  }
  a {
    // color: #EABD3D;
  }
}

#logo {
	font-size: 2em;
  font-weight: bold;
}
header {
  text-shadow: none;
  color: #111;
  padding: 10px;
  a { }
}

input {
  margin: 10px 5px;
  font-size: 20px;
  // background-color: #111;
}

.icon {
  margin: 0 auto;
  // opacity: 0.8;
  width: 56px;
  height: 56px;
  @include border-radius(8px);
  display: block;
  background-color: #080808;
  background-position: center center;
  background-repeat: none;
  border-bottom: 2px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #222;
  border-left: 1px solid #222;
}

a {
	text-decoration: none;
}

th {
	text-align: left;
}

@media screen and (min-width: 1000px) {
  #container { width: 960px; margin: 0 auto; }
}

@media screen and (max-width: 480px) {
  #container { padding: 5px 0; }
}