#mac a {
  background: #4169AA image-url('mac.png');
  // @include radial-gradient(50% 50%, circle cover, #8BB4ED, #4F8CD8);
  text-shadow: 1px 1px 1px #8DC3FF;
    color: #263D63;
}

body.mac {
  background: #4169AA;
  color: #EEE;
  text-shadow: 1px 1px 1px #444;
    // a { color: #516A8B;}

  #mac { background: none; opacity: 1;
    a { color: #F5F5F5;}}
  .details {
    color: #777;
    text-shadow: 1px 1px 1px #000;
  }
  // td { border-bottom: 1px solid #111; }
}